<% if @round.winning_address1 %>
  <h3>Got it!</h3>
  <p>Thanks, your winnings will be sent shortly. The world is now a slightly better place thanks to you.</p>
<% else %>
  <h3>Get Your Prize</h3>
  <p>You're the lucky winner! In order to ship your winnings, we need to know your address:</p>
  <form method="POST" action="">
    <label for="name">Your name</label>
    <input type="text" name="name" value="<%= @round.winner.name %>" />

    <label for="address1">Address Line 1</label>
    <input type="text" name="address1" value="<%= @round.winning_address1 %>" />

    <label for="address1">Address Line 2</label>
    <input type="text" name="address2" value="<%= @round.winning_address2 %>" />

    <div class="create">
      <input type="submit" class="btn btn-success btn-large" value="Ship It!">
    </div>
  </form>
<% end %>
