<% if @round.address %>
  <h3>Got it!</h3>
  <p>Thanks, your winnings will be sent shortly. The world is now a slightly better place thanks to you.</p>
<% else %>
  <h3>Get Your Prize</h3>
  <p>You're the lucky winner! In order to ship your winnings, we need to know your address:</p>
  <%= form_tag("/api/addresses/", :method => "post") do %>
    <%= hidden_field_tag(:round_token, cookies['donated_'+@round.url]) %>
    <%= hidden_field_tag('address[round_id]', @round.id) %>
    <label for="address[line1]">Address Line 1</label>
    <input type="text" name="address[line1]" value="" />

    <label for="address[line2]">Address Line 2</label>
    <input type="text" name="address[line2]" value="" />

    <label for="address[zip_code]">Zip Code</label>
    <input type="text" name="address[zip_code]" value="" />

    <label for="address[city]">City</label>
    <input type="text" name="address[city]" value="" />

    <label for="address[state]">State</label>
    <input type="text" name="address[state]" value="" />

    <label for="address[country]">Country</label>
    <input type="text" name="address[country]" value=""/>

    <div class="create">
      <input type="submit" class="btn btn-success btn-large" value="Ship It!">
    </div>
  <% end %>
<% end %>
